<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>work-nodejs-ReviewSummarizer</title>
</head>
<body>
<form method="get" action"/sum">
<textarea rows="50" cols="30" name="review"></textarea>
<input type="submit" value="Summarize"></input>
</form>
</body>
</html>

